@import './sass/variables';

.App {
  text-align: center;
}

.folder {
  display: flex;
  position: fixed;
  bottom: -15%;
  left: 10%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.file {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.10);
  color: black;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  min-width: 230px;
  max-width: 500px;
  position: relative;
  transition: all 0.3s ease-in-out;
  height: 300px;
}

.file.yellow {
  background-color: #FFD54F;
  z-index: 1500;
  transform: rotate(10deg);
  left: 0;
  top: 50px;
}

.file.yellow:hover {
  transform: rotate(5deg);
  top: 0px;
  cursor: pointer;
}

.file.forest {
  background-color: #388E3C;
  color: #ffffff;
  z-index: 1100;
  transform: rotate(-15deg);
  left: -200px;
  top: -50px;

  h3, p {
    color: #ffffff;
  }

  hr {
    border: 0.5px dashed #73bc76;
  }
}

.file.forest:hover {
  transform: rotate(-10deg);
  top: -125px;
  cursor: pointer;
}

.file.coral {
  background-color: #FF6F61;
  z-index: 1200;
  transform: rotate(-15deg);
  left: -350px;
  top: 0;

  h3, p {
    color: #ffffff;
  }

  hr {
    border: 0.5px dashed #f1a59e;
  }
}

.file.coral:hover {
  transform: rotate(-10deg);
  top: -75px;
  cursor: pointer;
}

.file.lime {
  background-color: #CDDC39;
  z-index: 1300;
  transform: rotate(-15deg);
  left: -500px;
  top: 40px;
}

.file.lime:hover {
  transform: rotate(-10deg);
  top: -35px;
  cursor: pointer;
}

.resume {
  position: fixed;
  bottom: -100px;
  right: 7vw;
  z-index: 3000;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  height: 150px;
  transform: rotate(10deg);
  transition: all 0.3s ease-in-out;
}

.resume:hover {
  transform: rotate(5deg);
  bottom: -50px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .folder {
    bottom: -10%;
  }

  .file {
    height: 250px;
    min-width: 250px;
  }

  .file.yellow {
    top: 45px;
  }
  
  .file.coral {
    transform: rotate(-10deg);
  }
  
  .file.coral:hover {
    transform: rotate(-5deg);
  }
  
  .file.lime {
    transform: rotate(-5deg);
  }
  
  .file.lime:hover {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 650px) {
  .folder {
    bottom: -10%;
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .file {
    height: 200px;
    min-width: 200px;
  }

  .file.yellow {
    left: -60px;
    top: 50px;
  }
  
  .file.yellow:hover {
    top: 0;
  }
  
  .file.forest {
    left: -250px;
    top: -100px;
  }
  
  .file.forest:hover {
    top: -150px;
  }
  
  .file.coral {
    top: -70px;
  }
  
  .file.coral:hover {
    top: -120px;
  }
  
  .file.lime {
    left: -500px;
    top: -20px;
  }
  
  .file.lime:hover {
    top: -70px;
    cursor: pointer;
  }
}