@import '../sass/mixins';
@import '../sass/variables';

.article {
    @include page-layout;

    &__group {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 60px;
        margin-top: 30px;
        margin-bottom: 40px;
        height: 750px;
    }

    &__description {
        p {
            margin: 0;
            margin-bottom: 20px;
        }
    }

    &__media {
        overflow: scroll;
        border-radius: 7.5px;
    }

    &__image-wrapper {
        @include responsive-image(7.5px, cover);
        position: relative; 
        max-height: 450px;
        background-color: rgba(0, 0, 0, 0.199);
    }

    &__image, &__video {
        border-radius: 7.5px;
    }

    &__image-description {
        margin-bottom: 40px;
        text-align: left;
    }
}


@media only screen and (max-width: 1000px) {
    .article__group {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
