@import '../sass/mixins';
@import '../sass/variables';

.article {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0px 40px 0px;
    z-index: 1;

    &__content {
        background-color: $alternate-bg-color;
        padding: 5px 20px 20px;
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 20px;
        height: 500px;
    }

    &__media {
        overflow: scroll;
    }

    &__image-wrapper {
        @include responsive-image(5px, cover);
        position: relative; 
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 650px) {
    .article {
        padding: 0px 20px 0px;
        font-size: 1rem;

        &__group {
            grid-template-columns: 1fr;
        }
    }
}
