@import '../sass/mixins';
@import '../sass/variables';

.article {
    @include page-layout;

    &__group {
        @include grid(20px, 2);
        margin-top: 30px;
        margin-bottom: 40px;
        height: 500px;
    }

    &__description {
        width: 70%;

        p {
            margin: 0;
            margin-bottom: 20px;
        }
    }

    &__media {
        overflow: scroll;
    }

    &__image-wrapper {
        @include responsive-image(5px, cover);
        position: relative; 
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .article__description {
        width: 90%;
    }
}

@media only screen and (max-width: 650px) {
    .article__description {
        width: 100%;
    }
}
