@import '../sass/mixins';
@import '../sass/variables';

.blogs {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0px 40px 0px;
    z-index: 1;

    &__content {
        background-color: $alternate-bg-color;
        padding: 5px 20px 20px;
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 20px;
    }

    &__image-wrapper {
        @include responsive-image(5px, cover);
        position: relative; 
        height: 250px;
        background-color: rgba(0, 0, 0, 0.1);
        filter: grayscale(100%); 

        &:hover {
            filter: grayscale(0%); 
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        &:hover .projects__image {
            transform: scale(1.25);
            transition: all 0.3s ease-in-out;
        }
    }

    &__image-description {
        position: absolute;
        bottom: 0;
        right: 20px;
    }
}

@media only screen and (max-width: 850px) {
    .blogs {
        &__group {
            grid-template-columns: 1fr 1fr;
        }

        &__image-wrapper {
            height: 250px;
        }

    }
}

@media only screen and (max-width: 650px) {
    .blogs {
        padding: 0px 20px 0px;
        font-size: 1rem;

        &__group {
            grid-template-columns: 1fr;
        }

        &__title {
            font-size: 2.5rem;
        }
    }
}