@import '../sass/variables';

.experience {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 50px;
    background-color: $primary-bg-color;

    &__content-title {
        margin: 0;
    }
}

.experience__content-accordion {

    border-bottom: 1px solid $border-color;
    margin-top: 10px;

    .accordion-item {

        .accordion-title {
            cursor: pointer;
            margin: 0;
            padding: 0px 10px 0;
            border: none;
            border-top: 1px solid $border-color;
            display: flex;
            justify-content: space-between;
            justify-items: center;
            align-items: center;

            h3, span {
                margin: 15px 0;
                transition: all 0.3s ease-in-out;
            }
        }

        .accordion-title:hover h3, .accordion-title:hover span {
            color: $cta-color;
        }

        .accordion-title:hover span {
            transform: scale(1.5);
        }

        .accordion-content {
            margin: 0px;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            padding-left: 10px;
            padding-right: 10px;

            &.active {
                max-height: 200px; /* Adjust based on content size */
                padding-top: 0px;
                padding-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .experience {
        padding: 50px 20px;
    }
}