@import '../sass/variables';

.folder {
    display: flex;
    position: fixed;
    bottom: -250px;
    left: 10%;
    width: 110%;
    transition: all 0.3s ease-in-out;
}

.file {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.10);
    color: black;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 20px;
    flex: 1;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 300;
    height: 400px;
    overflow: hidden;
    text-align: left;
    max-width: 500px;;

    &__title {
        font-weight: 900;
        margin: 15px 0px 10px;
        text-transform: uppercase;
    }

    &__content {
        margin: 0;
    }
}

.file.yellow {
    flex: 0.75;
    background-color: $yellow;
    z-index: 1500;
    transform: rotate(10deg);
    left: -30px;
    top: 70px;

    .file__title,
    .file__content {
        color: $primary-text-color;
    }

    .file__divider {
        border: 0.5px dotted $primary-text-color;
    }
}

.file.yellow:hover {
    transform: rotate(5deg);
    top: 20px;
    cursor: pointer;
}

.file.forest {
    background-color: $forest;
    padding: 15px;
    color: $file-text-color;
    z-index: 1100;
    transform: rotate(-15deg);
    left: -230px;
    top: -50px;

    .file__title,
    .file__content {
        color: $primary-bg-color;
        ;
    }

    .file__divider {
        border: 0.5px dashed $primary-bg-color;
        ;
    }
}

.file.forest:hover {
    transform: rotate(-10deg);
    top: -125px;
    cursor: pointer;
}

.file.coral {
    background-color: $coral;
    z-index: 1200;
    transform: rotate(-10deg);
    left: -380px;
    top: 0;

    .file__title,
    .file__content {
        color: $file-text-color;
    }

    .file__divider {
        border: 0.5px dashed $file-text-color;
    }
}

.file.coral:hover {
    transform: rotate(-5deg);
    top: -75px;
    cursor: pointer;
}

.file.lime {
    background-color: $lime;
    z-index: 1300;
    transform: rotate(-5deg);
    left: -530px;
    top: 40px;

    .file__divider {
        border: 0.5px dashed #4e4e4e;
    }
}

.file.lime:hover {
    transform: rotate(0deg);
    top: -35px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .folder {
        width: 130%;
    }

    .file {
        min-width: 240px;
        font-size: 1rem;
    }
}


@media only screen and (max-width: 650px) {
    .folder {
        bottom: -275px;
        left: 15%;
    }

    .file {
        height: 400px;
        min-width: 265px;
    }

    .file.yellow {
        left: -55px;
        top: 65px;
        transform: rotate(-5deg);
    }

    .file.yellow:hover {
        top: 15px;
        transform: rotate(-8deg);
    }

    .file.forest {
        left: -340px;
        top: -150px;
        transform: rotate(-3deg);
    }

    .file.forest:hover {
        top: -200px;
        transform: rotate(-6deg);
    }

    .file.coral {
        left: -575px;
        top: -85px;
        transform: rotate(3deg);
    }

    .file.coral:hover {
        top: -135px;
        transform: rotate(6deg);
    }

    .file.lime {
        left: -820px;
        top: -10px;
        transform: rotate(6deg);
    }

    .file.lime:hover {
        top: -60px;
        transform: rotate(9deg);
    }
}

@media only screen and (max-width: 475px) {
    .folder {
        left: 20%;
    }

    .file {
        min-width: 240px;
    }

    .file.coral {
        left: -550px;
    }

    .file.lime {
        left: -850px;
        transform: rotate(-3deg);
    }

    .file.lime:hover {
        transform: rotate(-6deg);
    }
}