@import '../sass/mixins';
@import '../sass/variables';

.folder {
    display: flex;
    position: fixed;
    bottom: -250px;
    left: 10%;
    width: 110%;
    transition: all 0.3s ease-in-out;
}

.file {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.10);
    color: black;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 20px;
    flex: 1;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    height: 400px;
    overflow: hidden;
    text-align: left;
    max-width: 500px;;
    cursor: pointer;

    &__title {
        font-weight: 900;
        margin: 15px 0px 10px;
        text-transform: uppercase;
    }

    &__content {
        margin: 0;
    }

    &__grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }
    
    &__image-wrapper {
        width: 100%;
        overflow: hidden; 
        filter: hue-rotate(-20deg) saturate(150%) opacity(30%);
    }
    
    &__image {
        width: 100%;
        height: auto; 
        display: block; 
        border-radius: 5px;
    }
}

.file.yellow {
    flex: 0.75;
    @include file-variant($yellow, 1500, 10deg, -30px, 70px);
    cursor: default;

    .file__title,
    .file__content {
        color: $primary-text-color;
    }

    .file__divider {
        border: 0.5px solid $primary-text-color;
    }

    &:hover {
        transform: rotate(5deg);
        top: 20px;
    }
}

.file.forest {
    @include file-variant($forest, 1100, -15deg, -230px, -50px);
    padding: 15px;
    color: $file-text-color;

    .file__title,
    .file__content {
        color: $primary-bg-color;
    }

    .file__divider {
        border: 0.5px dashed $primary-bg-color;
    }

    input {
        cursor: pointer;
    }
    
    &:hover {
        transform: rotate(-10deg);
        top: -125px;
    }
}


.file.coral {
    @include file-variant($coral, 1200, -10deg, -380px, 0);

    .file__title,
    .file__content {
        color: $file-text-color;
    }

    .file__divider {
        border: 0.5px dashed $file-text-color;
    }

    &:hover {
        transform: rotate(-5deg);
        top: -75px;
    }
}


.file.lime {
    @include file-variant($lime, 1300, -5deg, -530px, 40px);

    .file__divider {
        border: 0.5px dashed #4e4e4e;
    }

    &:hover {
        transform: rotate(0deg);
        top: -35px;
    }
}


@media only screen and (max-width: 1200px) {
    .folder {
        width: 130%;
    }

    .file {
        min-width: 240px;
        font-size: 1rem;
    }
}


// @mixin file-variant-mobile($left, $top, $degree, $new-top, $new-degree) 
@media only screen and (max-width: 650px) {
    .folder {
        bottom: -275px;
        left: 15%;
    }

    .file {
        height: 400px;
        min-width: 265px;
    }

    .file.yellow {
        @include file-variant-mobile(-55px, 65px, -5deg, 15px, -8deg);
    }

    .file.forest {
        @include file-variant-mobile(-340px, -150px, -3deg, -200px, -6deg);
    }

    .file.coral {
        @include file-variant-mobile(-575px, -85px, 3deg, -135px, 6deg);
    }

    .file.lime {
        @include file-variant-mobile(-820px, -10px, 6deg, -60px, 9deg);
    }
}

@media only screen and (max-width: 475px) {
    .folder {
        left: 20%;
    }

    .file {
        min-width: 240px;
    }

    .file.coral {
        left: -550px;
    }

    .file.lime {
        left: -850px;
        transform: rotate(-3deg);
    }

    .file.lime:hover {
        transform: rotate(-6deg);
    }
}