@import '../sass/variables';

.footer {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 50px;
    background-color: $primary-bg-color;

    &__content {
        display: flex;
        justify-content: space-between;
    
        .footer__menu {
            list-style: none;
            padding-inline-start: 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .footer {
        padding: 50px 20px;
    }
}
