@import '../sass/variables';

.footer {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 20px 50px;
    background-color: $primary-bg-color;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 40px;
    }

    &__menu {
        list-style: none;
        padding-inline-start: 0;
    }

    &__menu-item:hover {
        color: $cta-color;
        cursor: pointer;
    }

    &__menu, &__contact-detail {
        margin: 0;
    }

    &__copyright {
        margin-top: 40px;
        font-size: 0.85rem;
    }

}

@media only screen and (max-width: 650px) {
    .footer {
        padding: 20px;
        font-size: 1rem;
    }
}