@import '../sass/variables';

.profile {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0px 40px 0px;
    z-index: 1;

    &__content {
        background-color: $file-text-color;
        padding: 5px 20px 60px;
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        justify-content: center;
        align-items: start;
        gap: 50px;
    }

    &__image-wrapper {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        height: auto;
        max-height: 550px;
        border-radius: 7.5px;

        &__image {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__description {
        font-weight: 300;
    }
}


@media only screen and (max-width: 1000px) {
    .profile {
        &__description {
            max-height: 650px;
            overflow: scroll;
        }

        &__group {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
    }
}

@media only screen and (max-width: 650px) {
    .profile {
        padding: 0px 20px 0px;
        font-size: 1rem;

        &__group {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    .form__wrapper {
        padding: 15px;
    }
}