@import '../sass/mixins';
@import '../sass/variables';

.projects {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0px 40px 0px;
    z-index: 1;

    &__content {
        background-color: $alternate-bg-color;
        padding: 5px 20px 20px;
    }

    &__group {
        @include grid(30px, 3);
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__image-wrapper,
    &__image-wrapper--large,
    &__image-wrapper--narrow {
        @include responsive-image(5px, cover);
        position: relative; 
        height: 240px;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1);

        .projects__video,
        .projects__image {
            filter: opacity(1);
        }

        .projects__video {
            transform: scale(0.8);
        }

        .projects__image {
            transform: scale(0.6);
        }

        &--large, &--narrow { 
            grid-row: span 2;
            height: 530px;
        }

        &--large {
            grid-column: span 2;
        }

        &--narrow {
            grid-column: span 1;

            @media only screen and (min-width: 851px) {
                .projects__image {
                    transform: scale(1) !important;
                }

                .projects__image:hover {
                        transform: scale(1.2) !important;
                }
            }
        }

        &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        &:hover .projects__video,
        &:hover .projects__image {
            transition: all 0.3s ease-in-out;
            filter: opacity(1);
        }

        &:hover .projects__video {
            transform: scale(1);
        }

        &:hover .projects__image {
            transform: scale(0.8);
        }
    }

    &__image-description {
        position: absolute;
        display: block;
        bottom: 0;
        left: 20px;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        margin-right: 20px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }

    &__image-wrapper.cyan {
        background-color: #0dcaf0;
    }

    &__image-wrapper.white {
        background-color: #ffffff;
    }

    &__image-wrapper.ocean {
        background-color: #0e4d64;
    }
}

@media only screen and (max-width: 850px) {
    .projects {
        &__group {
            grid-template-columns: 1fr 1fr;
        }

        &__image-wrapper--large {
            height: 420px;
        }

        &__image-wrapper,
        &__image-wrapper--narrow {
            height: 260px;
        }

        &__image-wrapper--large .projects__image.zoom {
            transform: scale(0.5);

            &:hover {
                transform: scale(0.6);
            }
        }
    
        &__image-wrapper--narrow {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}

@media only screen and (max-width: 575px) {
    .projects {
        padding: 0px 20px 0px;
        font-size: 1rem;
        gap: 20px;

        &__group {
            grid-template-columns: 1fr;
        }

        &__image-wrapper--large .projects__image.zoom {
            transform: scale(0.3);

            &:hover {
                transform: scale(0.35);
            }
        }

        &__video, &__image {
            
        }


        &__image-wrapper--large,
        &__image-wrapper--narrow {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}