@import '../sass/variables';

.tools {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 40px;
    background-color: $primary-bg-color;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &-category {
            list-style: none;
            padding-inline-start: 0;
        }
    }
}