.content__wrapper {
    display: grid;
    place-items: center;  
    min-height: 100vh;

    .content__container {
        background-color: aliceblue;
        width: 100%;
        max-width: 1280px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  // Optional: Adds a subtle shadow
    }
}
